@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

body {
  font-family: "PT Mono", monospace;
  background: #e7e6e6;
}

h1 {
  color: #131212;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather {
  padding: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 16px;
  background-color: white;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(35, 35, 35);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(35, 35, 35);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active :hover {
  text-decoration: none;
}

#search-form {
  margin-top: 20px;
  border-bottom: 1px solid #d0cece;
  padding-bottom: 30px;
}

#city-input {
  background-color: #f0efef;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.weather .btn {
  background: #48464f;
  font-size: 16px;
  padding: 10px;
  border: none;
  height: 50px;
  border-radius: 16px;
}

#get-current-city {
  background: #8a7ac5;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temp {
  font-size: 13px;
}

.temp-max {
  font-weight: bold;
}
